import { Routes } from '@angular/router';


export const <%=name.toUpperCase()%>_ROUTES: Routes = [
  // hier komt routes
  /*
  {
    path: '<%=dasherize(name)%>card',
    component: <%= classify(name) %>Card
  },
  {
    path: '<%=dasherize(name)%>about',
    component: <%= classify(name) %>About
  }*/
];
